/* need to bring in some libraries and set styles here */

header { 
  box-sizing: content-box;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 30px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  background-color: #40BED5;
}

body {
background-color: #7C5D1F;
}

div {
box-sizing: content-box;
padding: 10px;
width: 90%;
margin-left: auto;
margin-right: auto;
}

h1 {
text-align: center;
font-size: 36px;
font-family: 'Noto Serif', serif;
font-color: #43BBC9;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-family: 'Noto Serif', serif;
  font-color: #43BBC9;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p {
font-family: 'Noto Sans', san-serif;
line-height: 1.5;
padding: 5px;
}

table {
border-collapse: collapse;
border: 1px solid #CCC;
width: 100%;
}

td {
width: 50%;
height: 2cm;
border: 1px solid #111111;
text-align: center;
font-family: 'Noto Sans', sans-serif;
}

.nav_button {
background-color: #F9CD50;
border: 1px solid #333136;
border-radius: 5px;
padding: 8px;
font-family: 'Noto Sans', sans-serif;
text-decoration: none;
color: #333136;
}

#about {
background-color: #333136;
text-align: center;
font-size: 24px;
}

#portfolio {
background-color: #333136;
}

#contact {
background-color: #333136;
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #333136;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
  color: #F9CD50;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font-family: 'Noto Sans', sans-serif;
  font: 1em;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #333136;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #333136;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 10px;
  /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}